<html>
    <head>
        <title>App Enquetes</title>
    </head>
    <body>
        <h1>Aplicação de Enquetes</h1>
        {% if pergunta_list %}
            <ul>
                {% for pergunta in pergunta_list %}
                    <li><a href="{% url 'polls:detalhes' pergunta.id %}">
                    {{ pergunta.pergunta_texto }}</a></li>
                    <br>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhuma pergunta disponível</p>
        {% endif %}
        <hr/>
    </body>
</html>